*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.tuitt-button{

	color:white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;

}

/*div .nav{
	list-style-type: none;
	display: inline;
}

ul .nav-logo{
	list-style-type: none;
	display: inline;
}*/

nav .nav, nav .nav-logo{

	list-style-type: none;
	display: inline;
	margin: 0.5rem;	
	padding: 0.8rem;
}

ul .right-nav{
		text-align: right;

}
.front-bg{
	color: white;
	text-align: right;
	
}

.container {
	background-color: rgba(0, 0, 0, 0.1);


}
#bg-image {
	min-height: 90vh;
	/*background-color: gray;*/
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: scroll;
	padding-top: 1rem;
	padding-bottom:1rem;
}

.apply-button{

	color:white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;

}

.title-2{
	text-align:center;	
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.intro-description{
	text-align:center;	

}
.title{
	font-size: 	40px;
}
.pre-footer{
	text-align: center;
	background-color:#f7fbfb;	
}
.book-button{

	color:white;
	font-weight: bold;
	background-color:#336589 ;
	font-size: 1rem;
	border-radius: 25px;
	padding: 0.5rem;

}

.prefooter-description{

	
	padding-bottom: 10px;


}